# Windows system files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Editor files
.vscode/

# Temporary files
*.tmp
*.temp
*.log